.section {
    background-color: var(--fourth-bc-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.section__title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}