body {
    font-family: Roboto, sans-serif;
    background-color: var(--fourth-bc-color);
    letter-spacing: 0.03em;
}
 ul,
 h1,
 h2,
 h3,
 p {
     margin: 0;
     padding: 0;
 }
 .list {
     list-style: none;
 }
 img {
     display: block;
     width: 100%;
 }
 body {
     font-family: Roboto, sans-serif;
     letter-spacing: 0.03em;
 }